body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #333;
    color: #f8f9fa;
}

/* Header styling */
header {
    background-color: #343a40;
    padding: 15px;
    color: #f8f9fa;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

/* Navigation styling */
nav {
    background-color: #2c3136;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: #f8f9fa;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
    color: #91a2b3;
}

/* Home page styling */
#home {
    padding: 20px;
    background-color: #1d2024;
    text-align: center;
}

#home h2 {
    font-size: 24px;
    color: #f8f9fa;
}

/* List styles */
#home ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

#home li {
    margin: 10px 0;
}

#home li a {
    display: block; /* Make the anchor tag behave like a block element */
    padding: 10px;
    background-color: #1d2024;
    text-decoration: none;
    border-radius: 4px; /* Rounded corners for buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#home li a:hover {
    background-color: #999ca0; /* Darker background on hover */
}

#home li a:visited {
    color: #f8f9fa; /* Keep the text color the same as the default */
}


/* Content page styles */
section {
    padding: 20px;
}

section p {
    font-size: 18px;
    color: #f8f9fa;
}

article {
    margin-bottom: 20px;
}

article h3 {
    font-size: 20px;
    color: #f8f9fa;
}

/* Contact page styling */

#contact {
    padding: 20px;
    background-color: #1d2024;
}

#contact h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #f8f9fa;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact ul li a {
    color: #5a9bd4;
    text-decoration: none;
}

#contact ul li a:hover {
    text-decoration: underline;
}

/* FAQ Section styling */

#faq {
    margin-top: 30px;
}

#faq h3 {
    font-size: 20px;
    color: #f8f9fa;
}

#faq article {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#faq details {
    cursor: pointer;
}

#faq summary {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;;
    margin-bottom: 5px;
}

#faq summary:hover {
    color: #999ca0;

}

#faq details p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #f8f9fa;
    margin: 5px 0 0 15px;
}

#faq details + details {
    margin-top: 10px;
}

/* Footer styling */

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}